#toggle {
    position: relative;
    height:30px;
    width: 60px;
    margin: 5px;;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    background-color: #fff;
    box-shadow: inset 0 2px 60px rgba(0,0,0,.1),
                inset 0 2px 8px rgba(0,0,0,.1),
                inset 0 -4px 8px rgba(0,0,0,.1);                
}

#toggle.active {
    background-color: #222;
    box-shadow: inset 0 8px 60px rgba(0,0,0,.1), inset 0 8px 8px rgba(0,0,0,.1), inset 0 -4px 4px rgba(0,0,0,.1);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

#toggle .indecator {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius:60px;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    -ms-border-radius:60px;
    -o-border-radius:60px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    background: linear-gradient(to bottom, #eaeaea, #fefefe);
    box-shadow: inset 0 8px 20px rgba(0,0,0,.1),
                inset 0 4px 4px rgba(255,255,255,1),
                inset 0 -4px 4px rgba(255,255,255,1);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

#toggle.active .indecator {
    left: 30px;
    background: linear-gradient(to bottom, #444, #222);
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    box-shadow: 0 8px 40px rgba(0,0,0,.5),
                inset 0 4px 4px rgba(255,255,255,.2),
                inset 0 -4px 4px rgba(255,255,255,.2);
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

body {
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}

body.active {
    background: #121212;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    color: #fff;
}

body.active table,
body.active table * {
    color: #fff;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}

body.active table span {color: #000}

nav {
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}